/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  color: #f9f9f9;
}

/* Header */
header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 0.98) 100%
    ),
    url("../img/imagem-natureza.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 15px;
  height: 100vh;
}

nav {
  display: flex;
  background-color: #d6d6d624;
  justify-content: space-around;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  border-radius: 50px;
  align-items: center;
}

.nav-icon a {
  font-size: 25px;
  color: #f9f9f9;
}

.nav-link ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 20px;
}

.nav-link a {
  text-decoration: none;
  color: #f9f9f9;
}

nav button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: all 0.8s;
}

nav button:hover {
  border: 1px solid #fff;
  background-color: #d6d6d60f;
  color: #f9f9f9;
}

.head-container {
  width: 100%;
  height: 100%;
}

.head {
  text-align: start;
  margin-left: 140px;
  margin-top: 20vh;
  font-size: 30px;
  width: 40%;
}

.head h1,
.head p {
  padding-bottom: 10px;
}

.head button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: all 0.8s;
}

.head button:hover {
  border: 1px solid #fff;
  background-color: #d6d6d60f;
  color: #f9f9f9;
}

/* Main */

.trash-bins {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #000;
}

.bins {
  height: 50vh;
  width: 30vh;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.bins p {
  margin-top: 43vh;
  font-size: 25px;
}

.organic {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../img/organico.jpg");
  background-position: center;
  background-size: cover;
}

.plastic {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../img/plastico.avif");
  background-position: center;
  background-size: cover;
}

.paper {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../img/papel.jpg");
  background-position: center;
  background-size: cover;
}

.glass {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../img/vidro.webp");
  background-position: center;
  background-size: cover;
}

/* .initial-text {
  background-color: #e5e5e5;
  color: #000;
  padding: 20px 50px;
  text-align: center;
}

.initial-text h2 {
  padding-bottom: 10px;
}

.initial-text p {
  padding-bottom: 5px;
}



.plastic {
  display: flex;
  color: #000;
  height: 50vh;
  background-color: #e5e5e5;
}

.plastic-image {
  width: 50%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.plastic-image img {
  height: 50vh;
}

.plastic-text {
  width: 50%;
  height: 100%;
  text-align: start;
  padding: 30px;
}

.plastic-text h2 {
  margin-bottom: 20px;
}

.plastic-text p {
  padding-bottom: 10px;
}



.organic {
  display: flex;
  color: #000;
  height: 50vh;
  background-color: #e5e5e5;
}

.organic-text {
  width: 50%;
  height: 100%;
  text-align: start;
  padding: 30px;
}

.organic-text h2 {
  margin-bottom: 20px;
}

.organic-text p {
  padding-bottom: 10px;
}

.organic-image {
  width: 50%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.organic-image img {
  height: 50vh;
} */

/* Footer */
