/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  color: #f9f9f9;
}

/* Header */
header {
  background-image: url("https://img.freepik.com/fotos-gratis/agua-da-chuva-em-um-macro-verde-da-folha_1150-12804.jpg?t=st=1744840382~exp=1744843982~hmac=5bfb13c961a7ddfd41c826e21afcefacdeb915092916d0f528139b90be650283&w=996");
  background-position: center;
  background-size: cover;
  padding-top: 15px;
  height: 100vh;
  margin-bottom: 400px;
}

nav {
  display: flex;
  background-color: #d6d6d624;
  justify-content: space-around;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  border-radius: 50px;
  align-items: center;
}

.nav-icon a {
  font-size: 25px;
  color: #f9f9f9;
}

.nav-link ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 20px;
}

.nav-link a {
  text-decoration: none;
  color: #f9f9f9;
}

nav button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: all 0.8s;
}

nav button:hover {
  border: 1px solid #fff;
  background-color: #d6d6d60f;
  color: #f9f9f9;
}

.head-container {
  width: 100%;
  height: 100%;
}

.head {
  text-align: center;
  margin: 20vh 0;
  font-size: 30px;
}

.head h1,
.head p {
  padding-bottom: 10px;
}

.head button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: all 0.8s;
}

.head button:hover {
  border: 1px solid #fff;
  background-color: #d6d6d60f;
  color: #f9f9f9;
}

/* Main */

/* Footer */
