<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Mapa de Pontos de Coleta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>.map-container { width: 100%; height: 600px; }</style>
</head>
<body>
    <div class="container">
        <h1>Pontos de Coleta na Região</h1>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li style="color: green;">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <div class="map-container">
            {{ mapa_html|safe }}
        </div>
        <p style="text-align: center; margin-top: 20px;">
            Conhece um ponto que não está no mapa?
            <a href="{{ url_for('novo_ponto') }}" class="btn">Cadastre um novo ponto!</a>
        </p>
    </div>
    </body>
</html>